<div class="fluid-container bg-inverse text-white" *ngIf="this.conversation && !this.canBeAdded(this.authService.getName())">
  <div class="row" style="height:80vh">


    <div class="col-sm-2 conversation-control bg-inverse">
      <div class="conversation-info">
        <br>
        <h3> Conv Nr. {{this.conversation.id}} </h3>
        <h4>{{this.conversation.name}}</h4>
      </div>
      <hr style="width: 100%; color: white; height: 0.3px; background-color:white;" />
      <div class="conversation-members">
        <div class="container" style="opacity:0.8;">
          <div class="table-responsive">
            <table class="table table-hover table-inverse">

              <thead>
                <th>Members</th>
              </thead>

              <tbody>
                <tr *ngFor="let user of this.conversation.members">
                  <td>
                    <div class="pull-left">
                      {{user.username}}
                    </div>
                    <br>
                    <div class="pull-left">
                      {{user.fullName}}
                    </div>
                    <div class="pull-right" *ngIf="user.username != this.authService.getName()">
                      <i class="fa fa-times fa-2x" style="color:crimson; cursor: pointer" (click)="removeUser(user)"></i>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-7 msg-container">
      <div class="msg-list">
        <div class="fluid-container" style="opacity:0.8;">
          <div class="table-responsive">
            <table class="table table-hover table-inverse">

              <thead>
                <th>
                </th>
              </thead>

              <tbody>
                <tr *ngFor="let msg of this.messages">
                  <td [ngClass]="{'msg-item': msg.author.username == this.authService.getName(), 
                             'msg-item-self': msg.author.username != this.authService.getName() }">
                    <p class="pull-right">{{msg.author.username}} at {{msg.sentAt | date:"medium"}}</p>
                    <br>
                    <p></p>
                    <p [ngClass]="{'pull-right': msg.author.username == this.authService.getName(), 
                                    'pull-left': msg.author.username != this.authService.getName() }">{{msg.content}}</p>
                  </td>
                </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>

      <hr style="width: 100%; color: white; height: 0.3px; background-color:white;" />

      <div class="msg-input">
        <form (ngSubmit)="send()">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Message" name="newMessage" [(ngModel)]="this.newMessage">
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit" style="opacity:0.6">
              <i class="fa fa-paper-plane"></i>
            </button>
          </span>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-3 active-users bg-inverse">

      <div class="container" style="opacity:0.8;">
        <div class="table-responsive">
          <table class="table table-hover table-inverse">

            <thead>
              <th>Active users</th>
            </thead>

            <tbody>
              <tr *ngFor="let user of this.users">
                <td>
                  <div class="pull-left">
                    {{user.username}}
                  </div>
                  <br>
                  <div class="pull-left">
                    {{user.fullName}}
                  </div>
                  <div class="pull-right" *ngIf="this.canBeAdded(user.username)">
                    <i class="fa fa-plus fa-2x" style="color:teal; cursor: pointer" (click)="addUser(user)"></i>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>

        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="this.conversation && this.canBeAdded(this.authService.getName())">
  <i class="fa fa-times-circle-o fa-4x" style="color:crimson"></i>
  <h1 style="color:crimson">Access Denied</h1>
</div>